@font-face {
   src:
      url("../resources/fonts/Montserrat-SemiBold.woff2") format("woff2"),
      url("../resources/fonts/Montserrat-SemiBold.woff") format("woff"),
      url("../resources/fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg");
   font-family: "Montserrat";
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/Roboto-Regular.woff2") format("woff2"),
      url("../resources/fonts/Roboto-Regular.woff") format("woff"),
      url("../resources/fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
   font-family: "Roboto";
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/Inter-Regular.woff2") format("woff2"),
      url("../resources/fonts/Inter-Regular.woff") format("woff"),
      url("../resources/fonts/Inter-Regular.svg#Inter-Regular") format("svg");
   font-family: "Inter";
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/SFProText-Semibold.woff2") format("woff2"),
      url("../resources/fonts/SFProText-Semibold.woff") format("woff"),
      url("../resources/fonts/SFProText-Semibold.svg#SFProText-Semibold") format("svg");
   font-family: "SF Pro Text";
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/Montserrat-Regular.woff2") format("woff2"),
      url("../resources/fonts/Montserrat-Regular.woff") format("woff"),
      url("../resources/fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
   font-family: "Montserrat";
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/Montserrat-Bold.woff2") format("woff2"),
      url("../resources/fonts/Montserrat-Bold.woff") format("woff"),
      url("../resources/fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
   font-family: "Montserrat";
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   src:
      url("../resources/fonts/Montserrat-Medium.woff2") format("woff2"),
      url("../resources/fonts/Montserrat-Medium.woff") format("woff"),
      url("../resources/fonts/Montserrat-Medium.svg#Montserrat-Medium") format("svg");
   font-family: "Montserrat";
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}
