:root {
   // global
   --container-max-width: 1218px;
   --container-safety-indents: 15px;

   // Font-family
   --font-family: "Montserrat", sans-serif;
   --second-family: "Roboto", sans-serif;
   --third-family: "SF Pro Text", sans-serif;
   --font3: "Inter", sans-serif;

   // ...
   --font-size: inherit;
   --line-height: inherit;
   --font-weight: 500;

   // Color
   --green-2: #d9edca;
   --green-3: #1f302d;
   --green-4: #eef3ea;

   // Sizes
}
